@font-face {
    font-family: "Druk Wide Web Bold";
    src: url("//db.onlinewebfonts.com/t/29800a9e7d146302b8ed9ad2f848db63.eot");
    src: url("//db.onlinewebfonts.com/t/29800a9e7d146302b8ed9ad2f848db63.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/29800a9e7d146302b8ed9ad2f848db63.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/29800a9e7d146302b8ed9ad2f848db63.woff") format("woff"), url("//db.onlinewebfonts.com/t/29800a9e7d146302b8ed9ad2f848db63.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/29800a9e7d146302b8ed9ad2f848db63.svg#Druk Wide Web Bold") format("svg");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    margin-bottom: 54px;
}

.main {
    background-image: url(img/background/background.png);
    background-position: center;
    background-size: cover;
    padding: 66px 49px 118px 119px;
}

.sentence {
    display: flex;
    align-items: center;
}

.sentence__text {
    width: 50%;
}

.sentence__percent-img {
    max-width: 100%;
}

.sentence__description {
    font-family: Druk Text Wide;
    color: #ffffff;
    margin-bottom: 71px;
}

.sentence__description-text1 {
    font-style: normal;
    font-weight: bold;
    font-size: 67px;
    line-height: 67px;
}

.sentence__description-text2 {
    font-style: normal;
    font-weight: bold;
    font-size: 47.5px;
    line-height: 47px;
    margin-bottom: 37px;
}

.sentence__description-text3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
}

.sentence__description-text4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22.5px;
    line-height: 26px;
}

.sentence__link {
    display: flex;
}

.sentence__link-item {
    background: #FFCC00;
    border-radius: 10px;
    padding: 18px 32px 18px 32px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    font-weight: 700;
    outline: none;
    border: none;
}

.sentence__footballer-img {
    max-width: 729px;
    width: 100%;

}

.footer {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 121px;
    padding-left: 121px;
    background: #0E0E0E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commands__img {
    margin-right: 30px;
}

.commands__img:last-child {
    margin-right: 0;
}

.social {
    display: flex;
}

.social__app {
    margin-right: 30px;
}

.social__app-img {
    width: 149.8px;
    height: 44px;
}

.social__google-img {
    width: 149.8px;
    height: 44px;
}

.regulations__text {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-decoration-line: underline;
    font-style: normal;
    font-weight: normal;
}

.feedback {
    display: none;
    position: fixed;
    width: 400px;
    height: 400px;
    left: 50%;
    margin-left: -15%;
    top: 50%;
    margin-top: -15%;
    z-index: 667;
    background: #171717;
    color: #ffffff;
    padding: 30px;
    overflow-y: auto;
    overflow-x: hidden;

}

.feedback::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.4;

}

.feedback__text {
    min-height: 100%;
    position: relative;
}

.feedback__regulations-title {
    font-family: Druk Text Wide;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.feedback__work-list {
    margin-left: 20px;
}

.feedback__important-list {
    margin-left: 20px;
}

.feedback__work-item {
    margin-bottom: 20px;
}

.feedback__work-item:last-child {
    margin-bottom: 0;
}

ul {
    padding: 0;
}

li::marker {
    color: #FFCC00;
}


.feedback__regulations-description {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.feedback__work-title {
    font-family: Druk Text Wide;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.feedback__important-title {
    font-family: Druk Text Wide;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.close {
    width: 100%;
}

.close::after {

    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    transform: rotate(45deg);
    right: 10px;
}

.close::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    transform: rotate(-45deg);
    right: 10px;

}

@media(max-width: 1200px) {
    .main {
        padding: 20px;
    }

    .header {
        margin-bottom: 20px;
    }

    .header__logo {
        width: 66px;
    }

    .sentence {
        flex-direction: column;
        padding: 10px;
    }

    .sentence__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .regulations {
        text-align: center;
    }

    .footer {
        padding: 0;
    }


    .social__app {
        margin-right: 10px;
    }

    .social__app-img {
        width: 100%;
    }

    .social__google-img {
        width: 100%;
    }

    .commands__img {
        width: 15%;
        margin-right: 10px;
    }



    .sentence__description {
        margin-bottom: 20px;
    }

    .sentence__description-text2 {
        margin-bottom: 20px;
    }

    .sentence__description-text3 {
        font-size: 17px;
    }

    .sentence__description-text4 {
        font-size: 14px;
    }

    .sentence__link {
        width: 80%;
        justify-content: center;
    }

    .sentence__link-item {
        font-size: 20px;
    }

    .feedback {
        width: 90%;
        left: 20%;
        top: 30%;
    }
}